{%- assign s = block_settings -%}

{%- style -%}
  @media screen and (max-width: 767px) {
      .grid-{{section.id}} {
          row-gap: {{s.y_gap_mobile}}px;
          column-gap: {{s.x_gap_mobile}}px;
      }

      {%- assign cols = s.column_amount_mobile -%}

      .grid-{{section.id}}.slider-mobile.sm-{{cols}} .slider__item {
          width: calc((100% - {{s.x_gap_mobile}}px * {{cols | minus: 1}}) / {{cols}});
          min-width: calc((100% - {{s.x_gap_mobile}}px * {{cols | minus: 1}}) / {{cols}});
      }
  }

  @media screen and (min-width: 768px) and (max-width: 1180px) {
      .grid-{{section.id}} {
          row-gap: {{s.y_gap_tablet}}px;
          column-gap: {{s.x_gap_tablet}}px;
      }

      {%- assign cols = s.column_amount_tablet -%}

      .grid-{{section.id}}.slider-tablet.md-{{cols}} .slider__item {
          width: calc((100% - {{s.x_gap_tablet}}px * {{cols | minus: 1}}) / {{cols}});
          min-width: calc((100% - {{s.x_gap_tablet}}px * {{cols | minus: 1}}) / {{cols}});
      }
  }
  @media screen and (min-width: 1181px) {
      .grid-{{section.id}} {
          row-gap: {{s.y_gap_desktop}}px;
          column-gap: {{s.x_gap_desktop}}px;
      }

      {%- assign cols = s.column_amount_desktop -%}

      .grid-{{section.id}}.slider-desktop.lg-{{cols}} .slider__item {
          width: calc((100% - {{s.x_gap_desktop}}px * {{cols | minus: 1}}) / {{cols}});
          min-width: calc((100% - {{s.x_gap_desktop}}px * {{cols | minus: 1}}) / {{cols}});
      }
  }
{%- endstyle -%}

<link rel="stylesheet" type="text/css" href="{{ '0-grid.css' | asset_url}}">
{% comment %} <link rel="stylesheet" type="text/css" href="{{ 'component-card.css' | asset_url}}"/> {% endcomment %}
{% comment %} <script src="{{ '0-slider.js' | asset_url }}" defer></script> {% endcomment %}

{% liquid
  assign slidersEnabled = false
  assign arrowsEnabled = false

  if s.slider_desktop or s.slider_tablet or s.slider_mobile
    assign slidersEnabled = true
  endif

  if s.arrows_desktop or s.arrows_tablet or s.arrows_mobile
    assign arrowsEnabled = true
  endif
%}

<div class="cont {{s.container}} {{s.spacing}}">
  <slider-component
    class="
      rel slider
      {%- if s.arrows_desktop %} {{ s.arrows_position_desktop }} {% else %} lg-arrows--hidden {% endif -%}
      {%- if s.arrows_tablet %} {{ s.arrows_position_tablet }} {% else %} md-arrows--hidden {% endif -%}
      {%- if s.arrows_mobile %} {{ s.arrows_position_mobile }} {% else %} sm-arrows--hidden {% endif -%}
    "
  >
    <div
      class="
        grid grid-{{ section.id }} lg-{{ s.column_amount_desktop }} md-{{ s.column_amount_tablet }} sm-{{ s.column_amount_mobile }}
        {%- if slidersEnabled == true -%} slider__inner
            {%- if s.slider_desktop %} slider-desktop {%- endif -%}
            {%- if s.slider_tablet %} slider-tablet {%- endif -%}
            {%- if s.slider_mobile %} slider-mobile {%- endif -%}
        {%- endif %}
      "
    >
      {%- for media in product.media -%}
        {{ media | image_url: width: 500 | image_tag }}
      {%- endfor -%}
    </div>

    {%- if slidersEnabled == true -%}
      {%- if arrowsEnabled == true -%}
        {% comment %} <div class="slider__arrows flex aic jcsb"> {% endcomment %}
        <div class="slider__arrow slider__arrow--back">
          <img src="{{ settings.slider_arrow_svg | image_url }}" alt="">
        </div>
        <div class="slider__arrow slider__arrow--forward">
          <img src="{{ settings.slider_arrow_svg | image_url }}" alt="">
        </div>

        {% comment %}
          <div class="slider__arrow slider__back">
              <img src="{{ settings.slider_arrow_svg | file_url }}" alt="">
          </div>
        {% endcomment %}

        {% comment %}
          <div class="slider__arrow slider__forward">
              <img src="{{ settings.slider_arrow_svg | file_url }}" alt="">
          </div>
        {% endcomment %}
        {% comment %} </div> {% endcomment %}
      {%- endif -%}

      {% comment %}
        <div class="slider__dots">
            <div class="slider__dot active"></div>
            <div class="slider__dot"></div>
            <div class="slider__dot"></div>
            <div class="slider__dot"></div>
            <div class="slider__dot"></div>
            <div class="slider__dot"></div>
        </div>
      {% endcomment %}
    {%- endif -%}
  </slider-component>
</div>
