{%- assign s = section.settings -%}

{%- style -%}
    @media screen and (max-width: 767px) {
        .grid-{{section.id}} {
            row-gap: {{s.y_gap_mobile}}px;
            column-gap: {{s.x_gap_mobile}}px;
        }

        {%- assign cols = s.column_amount_mobile -%}

        .grid-{{section.id}}.slider-mobile.sm-{{cols}} .slider__item {
            width: calc((100% - {{s.x_gap_mobile}}px * {{cols | minus: 1}}) / {{cols}});
            min-width: calc((100% - {{s.x_gap_mobile}}px * {{cols | minus: 1}}) / {{cols}});
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1180px) {
        .grid-{{section.id}} {
            row-gap: {{s.y_gap_tablet}}px;
            column-gap: {{s.x_gap_tablet}}px;
        }

        {%- assign cols = s.column_amount_tablet -%}

        .grid-{{section.id}}.slider-tablet.md-{{cols}} .slider__item {
            width: calc((100% - {{s.x_gap_tablet}}px * {{cols | minus: 1}}) / {{cols}});
            min-width: calc((100% - {{s.x_gap_tablet}}px * {{cols | minus: 1}}) / {{cols}});
        }
    }
    @media screen and (min-width: 1181px) {
        .grid-{{section.id}} {
            row-gap: {{s.y_gap_desktop}}px;
            column-gap: {{s.x_gap_desktop}}px;
        }

        {%- assign cols = s.column_amount_desktop -%}

        .grid-{{section.id}}.slider-desktop.lg-{{cols}} .slider__item {
            width: calc((100% - {{s.x_gap_desktop}}px * {{cols | minus: 1}}) / {{cols}});
            min-width: calc((100% - {{s.x_gap_desktop}}px * {{cols | minus: 1}}) / {{cols}});
        }
    }
{%- endstyle -%}

<link rel="stylesheet" type="text/css" href="{{ '0-grid.css' | asset_url}}"/>
{% comment %} <link rel="stylesheet" type="text/css" href="{{ 'component-card.css' | asset_url}}"/> {% endcomment %}
{% comment %} <script src="{{ '0-slider.js' | asset_url }}" defer></script> {% endcomment %}

{% liquid 
    assign slidersEnabled = false
    assign arrowsEnabled = false

    if s.slider_desktop or s.slider_tablet or s.slider_mobile
        assign slidersEnabled = true
    endif
    
    if s.arrows_desktop or s.arrows_tablet or s.arrows_mobile
        assign arrowsEnabled = true
    endif
%}

<div class="cont {{s.container}} {{s.spacing}}">

    <slider-component 
        class="rel slider
            {%- if s.arrows_desktop %} {{ s.arrows_position_desktop }} {% else %} lg-arrows--hidden {% endif -%}
            {%- if s.arrows_tablet %} {{ s.arrows_position_tablet }} {% else %} md-arrows--hidden {% endif -%}
            {%- if s.arrows_mobile %} {{ s.arrows_position_mobile }} {% else %} sm-arrows--hidden {% endif -%}
    ">
        <div 
            class="grid grid-{{ section.id }} lg-{{ s.column_amount_desktop }} md-{{ s.column_amount_tablet }} sm-{{ s.column_amount_mobile }}
                {%- if slidersEnabled == true -%} slider__inner
                    {%- if s.slider_desktop %} slider-desktop {%- endif -%}
                    {%- if s.slider_tablet %} slider-tablet {%- endif -%}
                    {%- if s.slider_mobile %} slider-mobile {%- endif -%}
                {%- endif %}
        ">
            {%- for block in section.blocks -%}
                {% case block.type %}
                    {% when 'product_list' %}
                        {%- for item in block.settings.collection.products -%}
                            {% render 'card-product', card_product: item, index: forloop.index0  %}
                        {%- endfor -%}
                    {% when 'collection_list' %}
                        
                    {% when 'articles_list' %}
                        
                    {% when 'custom_content' %}
                        
                {% endcase %}
            {%- endfor -%}
        </div>

        {%- if slidersEnabled == true -%}

            {%- if arrowsEnabled == true -%}
                {% comment %} <div class="slider__arrows flex aic jcsb"> {% endcomment %}
                    <div class="slider__arrow slider__arrow--back">
                        <img src="{{ settings.slider_arrow_svg | image_url }}" alt="">
                    </div>
                    <div class="slider__arrow slider__arrow--forward">
                        <img src="{{ settings.slider_arrow_svg | image_url }}" alt="">
                    </div>

                    {% comment %} <div class="slider__arrow slider__back">
                        <img src="{{ settings.slider_arrow_svg | file_url }}" alt="">
                    </div> {% endcomment %}
                    
                    {% comment %} <div class="slider__arrow slider__forward">
                        <img src="{{ settings.slider_arrow_svg | file_url }}" alt="">
                    </div> {% endcomment %}
                {% comment %} </div> {% endcomment %}
            {%- endif -%}

            {% comment %} <div class="slider__dots">
                <div class="slider__dot active"></div>
                <div class="slider__dot"></div>
                <div class="slider__dot"></div>
                <div class="slider__dot"></div>
                <div class="slider__dot"></div>
                <div class="slider__dot"></div>
            </div> {% endcomment %}
        {%- endif -%}
    </slider-component>

</div>


{% comment %} {
    "type": "testimonial",
    "name": "Testimonial",
    "settings": [
        {
            "type": "richtext",
            "id": "text",
            "label": "Text"
        }
    ]
}, {% endcomment %}

{% comment %} if slider - align scroll snap? (left/center) {% endcomment %}
{% comment %} section title + richtext + button {% endcomment %}

{% schema %}
{
  "name": "Versatile grid",
  "tag": "section",
  "settings": [
    {
        "type": "header",
        "content": "GLOBAL - Layout"
    },
    {
        "type": "select",
        "id": "container",
        "label": "Styles -> Containers TYPE",
        "options": [
            {
                "value": "cont--sm",
                "label": "Small"
            },
            {
                "value": "cont--md",
                "label": "Medium"
            },
            {
                "value": "cont--lg",
                "label": "Large"
            }
        ],
        "default": "cont--lg"
    },
    {
        "type": "select",
        "id": "spacing",
        "label": "Styles -> Section Spacing TYPE",
        "options": [
            {
                "value": "space--sm",
                "label": "Small"
            },
            {
                "value": "space--md",
                "label": "Medium"
            },
            {
                "value": "space--lg",
                "label": "Large"
            }
        ],
        "default": "space--lg"
    },
    {
        "type": "header",
        "content": "DESKTOP - Layout"
    },
    {
        "type": "range",
        "id": "column_amount_desktop",
        "min": 1,
        "max": 10,
        "step": 1,
        "label": "Columns amount",
        "default": 4
    },
    {
        "type": "checkbox",
        "id": "slider_desktop",
        "label": "Enable slider",
        "default": false
    },
    {
        "type": "checkbox",
        "id": "arrows_desktop",
        "label": "Enable slider arrows",
        "default": false
    },
    {
        "type": "select",
        "id": "arrows_position_desktop",
        "label": "Slider arrows position",
        "options": [
            {
                "value": "lg-arrows--under",
                "label": "Under the slider"
            },
            {
                "value": "lg-arrows--over",
                "label": "Over the slider - centered vertically"
            },
            {
                "value": "lg-arrows--sides",
                "label": "On sides of the slider - centered vertically"
            }
        ],
        "default": "lg-arrows--over"
    },
    {
        "type": "range",
        "id": "x_gap_desktop",
        "min": 0,
        "max": 60,
        "step": 1,
        "label": "Gap between columns",
        "default": 20
    },
    {
        "type": "range",
        "id": "y_gap_desktop",
        "min": 0,
        "max": 60,
        "step": 1,
        "label": "Gap between rows",
        "default": 20
    },
    {
        "type": "header",
        "content": "TABLET - Layout"
    },
    {
        "type": "range",
        "id": "column_amount_tablet",
        "min": 1,
        "max": 10,
        "step": 1,
        "label": "Columns amount",
        "default": 3
    },
    {
        "type": "checkbox",
        "id": "slider_tablet",
        "label": "Enable slider",
        "default": false
    },
    {
        "type": "checkbox",
        "id": "arrows_tablet",
        "label": "Enable slider arrows",
        "default": false
    },
    {
        "type": "select",
        "id": "arrows_position_tablet",
        "label": "Slider arrows position",
        "options": [
            {
                "value": "md-arrows--under",
                "label": "Under the slider"
            },
            {
                "value": "md-arrows--over",
                "label": "Over the slider - centered vertically"
            },
            {
                "value": "md-arrows--sides",
                "label": "On sides of the slider - centered vertically"
            }
        ],
        "default": "md-arrows--over"
    },
    {
        "type": "range",
        "id": "x_gap_tablet",
        "min": 0,
        "max": 60,
        "step": 1,
        "label": "Gap between columns",
        "default": 20
    },
    {
        "type": "range",
        "id": "y_gap_tablet",
        "min": 0,
        "max": 60,
        "step": 1,
        "label": "Gap between rows",
        "default": 20
    },
    {
        "type": "header",
        "content": "MOBILE - Layout"
    },
    {
        "type": "range",
        "id": "column_amount_mobile",
        "min": 1,
        "max": 10,
        "step": 1,
        "label": "Columns amount",
        "default": 2
    },
    {
        "type": "checkbox",
        "id": "slider_mobile",
        "label": "Enable slider",
        "default": false
    },
    {
        "type": "checkbox",
        "id": "arrows_mobile",
        "label": "Enable slider arrows",
        "default": false
    },
    {
        "type": "select",
        "id": "arrows_position_mobile",
        "label": "Slider arrows position",
        "options": [
            {
                "value": "sm-arrows--under",
                "label": "Under the slider"
            },
            {
                "value": "sm-arrows--over",
                "label": "Over the slider - centered vertically"
            },
            {
                "value": "sm-arrows--sides",
                "label": "On sides of the slider - centered vertically"
            }
        ],
        "default": "sm-arrows--over"
    },
    {
        "type": "range",
        "id": "x_gap_mobile",
        "min": 0,
        "max": 60,
        "step": 1,
        "label": "Gap between columns",
        "default": 20
    },
    {
        "type": "range",
        "id": "y_gap_mobile",
        "min": 0,
        "max": 60,
        "step": 1,
        "label": "Gap between rows",
        "default": 20
    },
    {
        "type": "header",
        "content": "General"
    }
  ],
  "blocks": [
    {
        "type": "product_list",
        "name": "Product list",
        "settings": [
            {
                "type": "collection",
                "id": "collection",
                "label": "Collection to display"
            }
        ]
    },
    {
        "type": "collection_list",
        "name": "Collection list",
        "settings": [
            {
                "type": "collection_list",
                "id": "collection_list",
                "label": "Collections"
            }
        ]
    },
    {
        "type": "articles_list",
        "name": "Articles list",
        "settings": [
            {
                "type": "blog",
                "id": "blog",
                "label": "Blog"
            }
        ]
    },
    {
        "type": "custom_content",
        "name": "Custom content",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "richtext",
                "id": "richtext",
                "label": "Content"
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "Text"
            },
            {
                "type": "url",
                "id": "url",
                "label": "Card URL"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "Versatile grid"
    }
  ]
}
{% endschema %}
