<style>
    .grid-{{section.id}} {
        gap: {{section.settings.gap_mobile}}px;
    }

    @media screen and (min-width: 768px) {
        .grid-{{section.id}} {
            gap: {{section.settings.gap_tablet}}px;
        }
    }
    @media screen and (min-width: 1181px) {
        .grid-{{section.id}} {
            gap: {{section.settings.gap_desktop}}px;
        }
    }
</style>

<link rel="stylesheet" type="text/css" href="{{ '0-grid.css' | asset_url}}"/>
<link rel="stylesheet" type="text/css" href="{{ 'component-card.css' | asset_url}}"/>

{%- assign s = section.settings -%}
<div class="grid grid-{{section.id}} 
    cont {{s.container}}
    {{s.spacing}}
    
    lg-{{s.column_amount_desktop}}
    md-{{s.column_amount_tablet}}
    sm-{{s.column_amount_mobile}}
    {%- if s.slider_desktop -%}slider-desktop{%- endif -%}
    {%- if s.slider_tablet -%}slider-tablet{%- endif -%}
    {%- if s.slider_mobile -%}slider-mobile{%- endif -%}
">
    {%- for block in section.blocks -%}
        {% case block.type %}
            {% when 'product_list' %}
                {%- for item in block.settings.collection.products -%}
                    {% render 'card-product', card_product: item %}
                {%- endfor -%}





            {% when 'collection_list' %}
                
            {% when 'articles_list' %}
                
            {% when 'custom_content' %}
                
        {% endcase %}
    {%- endfor -%}
</div>

{% comment %} {
    "type": "testimonial",
    "name": "Testimonial",
    "settings": [
        {
            "type": "richtext",
            "id": "text",
            "label": "Text"
        }
    ]
}, {% endcomment %}

{% comment %} if slider - align scroll snap? (left/center) {% endcomment %}
{% comment %} section title + richtext + button {% endcomment %}
{% schema %}
{
  "name": "Versatile grid",
  "tag": "section",
  "settings": [
    {
        "type": "header",
        "content": "GLOBAL - Layout"
    },
    {
        "type": "select",
        "id": "container",
        "label": "Styles -> Containers TYPE",
        "options": [
            {
                "value": "cont--sm",
                "label": "Small"
            },
            {
                "value": "cont--md",
                "label": "Medium"
            },
            {
                "value": "cont--lg",
                "label": "Large"
            }
        ],
        "default": "cont--lg"
    },
    {
        "type": "select",
        "id": "spacing",
        "label": "Styles -> Section Spacing TYPE",
        "options": [
            {
                "value": "space--sm",
                "label": "Small"
            },
            {
                "value": "space--md",
                "label": "Medium"
            },
            {
                "value": "space--lg",
                "label": "Large"
            }
        ],
        "default": "space--lg"
    },
    {
        "type": "header",
        "content": "DESKTOP - Layout"
    },
    {
        "type": "range",
        "id": "column_amount_desktop",
        "min": 2,
        "max": 10,
        "step": 1,
        "label": "Columns amount",
        "default": 4
    },
    {
        "type": "checkbox",
        "id": "slider_desktop",
        "label": "Enable slider",
        "default": false
    },
    {
        "type": "range",
        "id": "gap_desktop",
        "min": 0,
        "max": 60,
        "step": 1,
        "label": "Gap between columns",
        "default": 20
    },
    {
        "type": "header",
        "content": "TABLET - Layout"
    },
    {
        "type": "range",
        "id": "column_amount_tablet",
        "min": 2,
        "max": 10,
        "step": 1,
        "label": "Columns amount",
        "default": 3
    },
    {
        "type": "checkbox",
        "id": "slider_tablet",
        "label": "Enable slider",
        "default": false
    },
    {
        "type": "range",
        "id": "gap_tablet",
        "min": 0,
        "max": 60,
        "step": 1,
        "label": "Gap between columns",
        "default": 20
    },
    {
        "type": "header",
        "content": "MOBILE - Layout"
    },
    {
        "type": "range",
        "id": "column_amount_mobile",
        "min": 2,
        "max": 10,
        "step": 1,
        "label": "Columns amount",
        "default": 2
    },
    {
        "type": "checkbox",
        "id": "slider_mobile",
        "label": "Enable slider",
        "default": false
    },
    {
        "type": "range",
        "id": "gap_mobile",
        "min": 0,
        "max": 60,
        "step": 1,
        "label": "Gap between columns",
        "default": 20
    },
    {
        "type": "header",
        "content": "General"
    }
  ],
  "blocks": [
    {
        "type": "product_list",
        "name": "Product list",
        "settings": [
            {
                "type": "collection",
                "id": "collection",
                "label": "Collection to display"
            }
        ]
    },
    {
        "type": "collection_list",
        "name": "Collection list",
        "settings": [
            {
                "type": "collection_list",
                "id": "collection_list",
                "label": "Collections"
            }
        ]
    },
    {
        "type": "articles_list",
        "name": "Articles list",
        "settings": [
            {
                "type": "blog",
                "id": "blog",
                "label": "Blog"
            }
        ]
    },
    {
        "type": "custom_content",
        "name": "Custom content",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "richtext",
                "id": "richtext",
                "label": "Content"
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "Text"
            },
            {
                "type": "url",
                "id": "url",
                "label": "Card URL"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "Versatile grid"
    }
  ]
}
{% endschema %}
