<div class="cont">
    <h1 class="h1">Title H1</h1>
    <h2 class="h2">Title H2</h2>
    <h3 class="h3">Title H3</h3>
    <h4 class="h4">Title H4</h4>
    <h5 class="h5">Title H5</h5>
    <h6 class="h6">Title H6</h6>

    <a class="link" href="#">Default link</a>
    <a class="link--icon" href="#">
        Default link + icon
    </a>

    <p class="text">
        Default text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ratione fugit amet repudiandae vero nulla nesciunt illo quibusdam eos? Earum quidem nesciunt exercitationem! Non id qui ea corporis doloremque sapiente.
    </p>
    <p class="text--sm">
        Smaller text: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam aperiam reprehenderit earum ratione molestiae atque perspiciatis magnam provident omnis, veniam voluptates praesentium deleniti similique labore, laboriosam, consequuntur assumenda a ullam.
    </p>
    <p class="text--lg">
        Larger text: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam aperiam reprehenderit earum ratione molestiae atque perspiciatis magnam provident omnis, veniam voluptates praesentium deleniti similique labore, laboriosam, consequuntur assumenda a ullam.
    </p>
</div>

<style>
    :root {
        {%- for block in section.blocks -%}
            --{{block.type}}_font_size: {{block.settings.font_size}};
            --{{block.type}}_line_height: {{block.settings.line_height}};
            --{{block.type}}_letter_spacing: {{block.settings.letter_spacing}};
            --{{block.type}}_font_weight: {{block.settings.font_weight}};
        {%- endfor -%}
    }
    {%- for block in section.blocks -%}
        {{block.type}} {
            font-size: var(--{{block.type}}_font_size);
            line-height: var(--{{block.type}}_line_height);
            letter-spacing: var(--{{block.type}}_letter_spacing);
            font-weight: var(--{{block.type}}_font_weight);
        }
    {%- endfor -%}
</style>



{% schema %}
{
  "name": "Styles - Typography",    
  "blocks": [
    {
      "type": "h1",
      "name": "Heading - level 1",
      "settings": [
        {
            "type": "range",
            "id": "font_size",
            "min": 20,
            "max": 120,
            "step": 1,
            "unit": "px",
            "label": "Font size",
            "default": 50
        },
        {
            "type": "range",
            "id": "line_height",
            "min": 100,
            "max": 200,
            "step": 5,
            "unit": "%",
            "label": "Line height",
            "default": 115
        },
        {
            "type": "range",
            "id": "letter_spacing",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Letter spacing",
            "default": 0
        },
        {
            "type": "select",
            "id": "font_weight",
            "label": "Font weight",
            "options": [
                {
                    "value": "300",
                    "label": "Light - 300"
                },
                {
                    "value": "400",
                    "label": "Regular - 400"
                },
                {
                    "value": "500",
                    "label": "Medium - 500"
                },
                {
                    "value": "600",
                    "label": "Semi Bold - 600"
                },
                {
                    "value": "700",
                    "label": "Bold - 700"
                }
            ],
            "default": "700",
            "info": "additional info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Styles - Typography"
    }
  ]
}
{% endschema %}